body {
  background-image: url("gambar.jpg");
  background-size: 100% 250px;
  background-repeat: no-repeat;
}

.nom {
  background-color: whitesmoke;
  padding: 10px;
  width: 50vw;
  height: 30%;
  text-align: center;
}

.des {
  background-color: burlywood;
  padding: 10px;
  text-align: justify;
}
